:root {
    --tamanioPortada: 1000px;
    --tamanioSombra: calc(var(--tamanioPortada)/2);
}

body {
    margin: 0;
    color: white;
    background-color: #21151A;
}

header {
    box-shadow: inset 0px -12px 15px -6px #000000;
    height: 5rem;
    padding-left: 5vw;
    padding-right: 5vw;
}

h1, h3{
    margin: 0;
}

.portada {
    padding: 1rem;
    box-shadow: inset 0px -1rem 10px 0px #21151A,
    inset 1000px 0px 15px -20px #000000;
}
