@function calcularColor($numeroIteracion,$colorBase) {
    @for $i from 1 through $numeroIteracion {
        $colorBase: darken($colorBase,5%);
    }
    @return $colorBase;
}

@function calcularTamanio($numeroIteracion,$tamanioLetraBase,$porcentajeReduccion) {
    @for $i from 1 to $numeroIteracion {
        $tamanioLetraBase: calc($tamanioLetraBase * $porcentajeReduccion / 100);
    }
    @return $tamanioLetraBase;
}

@mixin crearCabeceras($nombreClase,$colorBase,$tamanioLetraBase,$porcentajeReduccion) {
    @for $i from 1 through 6 {
        .#{$nombreClase} h#{$i} {
            color: calcularColor($i,$colorBase);
            font-size: calcularTamanio($i,$tamanioLetraBase,$porcentajeReduccion);
        }
    }
}

@include crearCabeceras(miClase,#cc3366, 5rem, 80)